[submodule "Library/http-parser"]
	path = Library/http-parser
	url = https://github.com/nodejs/http-parser
[submodule "Library/r3"]
	path = Library/r3
	url = https://github.com/c9s/r3/
[submodule "Library/pcre2-10.34"]
	path = Library/pcre2-10.34
	url = git@github.com:tahahojati/PCRE_CLONED.git
